:root {
  /* background colors */
  --bg-color-white: #ffffff;

  /* Text colors */
  --color-text: #252a2e;
  --color-text-white: #ffffff;
  --color-text-muted: #dadae4;

  /* Variant colors */
  --color-primary: #4d426d;
  --color-secondary: #5c5082;
  --color-secondary-hover: #796aab;

  --success-color: #28a026;
  --error-color: #ff0000;

  /* Border colors */
  --border-color: #707070;
  --border-color-light: #b0b0b0;

  /* Backdrop colors */
  --backdrop-color: rgba(0, 0, 0, 0.5);
}
