:root {
  /* background colors */
  --bg-color-white: #f8f9fa;
  --bg-color-orange: #efa985;
  --bg-color-orange-hover: #f4ccb8;

  /* Text colors */
  --color-text: #252a2e;
  --color-text-white: #f2f2f2;
  --color-text-muted: #6c757d;

  /* Variant colors */
  --color-primary: #4d426d;
  --color-secondary: #5c5082;
  --color-secondary-hover: #796aab;

  --success-color: #00b900;
  --error-color: #9d0000;

  /* Border colors */
  --border-color: #707070;
  --border-color-light: #b0b0b0;

  /* Backdrop colors */
  --backdrop-color: rgba(0, 0, 0, 0.5);
}
