@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

:root {
  --default-font: "Delius", Arial sans-serif;

  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-xxl: 3rem; /* 48px */
}
