@import url("../../style/design-system/index.css");
@import url("../../style/header.css");
@import url("../../style/design-system/spinner.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: var(--color-primary);
  color: var(--color-text);
  height: 100vh;
  overflow: hidden;
}
.chat-layout {
  height: 80%;
  font-family: Arial, sans-serif;
  color: var(--color-text);
}
.chat-window {
  flex-grow: 1;
  height: 100%;
  width: 80%;
  background: var(--color-secondary);
  border-radius: var(--size-md);
}

.chat-user-info {
  background: var(--color-secondary);
}

.sidebar {
  overflow-y: auto;
  width: var(--width-sm);
  background: var(--color-secondary);
  border-radius: var(--size-lg);

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-title {
  height: var(--size-xl);
  background: var(--color-secondary);
  color: var(--color-text-white);
  font-weight: bold;
  font-size: var(--size-lg);
  margin-bottom: var(--size-sm);
}

.search-input-wrapper {
  position: relative;
  width: 90%;
  margin-left: var(--size-sm);
  margin-right: var(--size-sm);
  box-sizing: border-box;
}

.friend-search-input {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  border: 2px solid var(--border-color-light);
  border-radius: var(--size-md);
  outline: none;
  background-color: var(--bg-color);
  color: var(--color-text);
  font-size: var(--size-sm);
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 0;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: var(--size-sm);
  top: 50%;
  transform: translateY(-50%);
  height: var(--size-md);
  width: var(--size-md);
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.7;
  transition: opacity 0.2s;
  background: var(--bg-color);
}
.search-icon:hover {
  opacity: 1;
}

.friend-list {
  align-items: start;
  list-style: none;
  margin: 0;
  padding: var(--size-xs);
}

.friend {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0.5rem 0.25rem;
  transition: background 0.2s;
  border: 1px solid var(--border-color-light);
  cursor: pointer;
  border-radius: var(--size-md);
}
.friend::after {
  position: absolute;
  left: 270px;
  content: "";
  height: var(--size-xs);
  width: var(--size-xs);
  background-color: var(--success-color);
  border-radius: 50%;
}

.friend:hover {
  background-color: var(--color-secondary-hover);
}

.avatar {
  width: var(--size-xl);
  height: var(--size-xl);
  border-radius: 50%;
  margin-right: var(--size-sm);
  flex-shrink: 0;
  background-image: url("../../../public/user-icon.webp");
  background-size: cover;
  background-position: center;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--color-text-white);
  font-weight: 600;
  font-size: var(--size-sm);
}

.status {
  color: var(--color-text-muted);
  font-size: var(--size-sm);
}

.status.online {
  color: var(--success-color);
  font-weight: bold;
}

.chat-header {
  border-bottom: 1px solid var(--border-color-light);
  background-color: var(--color-primary);
  color: var(--color-text-white);
  border-top-left-radius: var(--size-sm);
  border-top-right-radius: var(--size-sm);
}

.chat-header h2 {
  margin: 0;
  color: var(--color-text-white);
  font-weight: 700;
  font-size: var(--size-md);
}

.chat-messages {
  padding: var(--size-sm);
  padding-bottom: 60px;
  overflow-y: auto;
  background-color: var(--bg-color);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.message {
  max-width: 60%;
  padding: var(--size-xs) var(--size-sm);
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-xxs);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message.left {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  align-self: flex-start;
  border-top-left-radius: 0;
}

.message.right {
  background-color: var(--bg-color-orange);
  color: var(--color-text-white);
  align-self: flex-end;
  border-top-right-radius: 0;
}

.message .user {
  font-weight: 600;
  font-size: 0.85rem;
}

.message .timestamp {
  color: var(--color-text-muted);
  font-size: var(--size-sm);
  align-self: flex-end;
}

.message-send-bar {
  border-radius: var(--size-md);
  background-color: var(--color-secondary);
  height: var(--size-4xl);
}

.message-input {
  height: var(--size-xl);
  width: 100%;
  padding: var(--size-lg);
  padding-left: var(--size-2xl);
  font-size: var(--size-sm);
  border-radius: var(--size-md);
  border: transparent;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  color: var(--color-text);
}
.emoji {
  color: var(--color-text-muted);
  width: var(--size-lg);
  height: var(--size-lg);
  cursor: pointer;
  translate: var(--size-xl);
}
.add-file-icon {
  color: var(--color-text-muted);
  width: var(--size-lg);
  height: var(--size-lg);
  cursor: pointer;
  translate: var(--negative-size-xl);
}
.send-button {
  border: none;
  padding: var(--size-xs);
  background: var(--bg-color-orange);
  border-radius: 50%;
  cursor: pointer;
}
.send-icon {
  height: var(--size-lg);
  width: var(--size-lg);
  rotate: -45deg;
}
.send-icon:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

.chat-user-info {
  display: flex;
  align-items: center;
  border-radius: var(--size-lg) var(--size-lg) 0 0;
  padding: var(--size-xs);
}
.chat-avatar {
  width: var(--size-xl);
  height: var(--size-xl);
  border-radius: 50%;
  object-fit: cover;
}

.user-email {
  display: block;
  font-size: var(--size-xs);
  color: var(--color-text-muted);
  margin-top: 2px;
}

.status-dot {
  display: inline-block;
  width: var(--size-xs);
  height: var(--size-xs);
  border-radius: 50%;
  margin-left: 0.5rem;
  background-color: var(--border-color-light);
  vertical-align: middle;
}
.status-dot.online {
  background-color: var(--success-color);
}
.status-dot.online {
  color: var(--success-color);
}

.status-dot.offline {
  color: var(--color-text-muted);
}

@media (max-width: 600px) {
  .sidebar {
    width: 90vw;
    margin: var(--size-xs);
    font-size: var(--size-sm);
  }
  .search-input-wrapper {
    width: 100%;
  }
  .friend-search-input {
    width: 90%;
    font-size: var(--size-sm);
  }
  .search-icon {
    height: var(--size-md);
    width: var(--size-md);
    right: var(--size-2xl);
  }
  .chat-header {
    width: 100%;
  }
  .chat-layout {
    flex-direction: column;
  }

  .chat-window {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  .chat-messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .chat-window::-webkit-scrollbar {
    display: none;
  }
  .friend::after {
    display: none;
  }
}
