/**
 * Margin Classes
 */

/* All margins */

.m-xs {
  margin: var(--size-xs); /* 8px */
}

.m-sm {
  margin: var(--size-sm); /* 16px */
}

.m-md {
  margin: var(--size-md); /* 24px */
}

.m-lg {
  margin: var(--size-lg); /* 32px */
}

/**
   * Horizontal axis margins
   */

.m-h-xs {
  margin: 0 var(--size-xs); /* 8px */
}

.m-h-sm {
  margin: 0 var(--size-sm); /* 16px */
}

.m-h-md {
  margin: 0 var(--size-md); /* 24px */
}

.m-h-lg {
  margin: 0 var(--size-lg); /* 32px */
}

/**
   * Vertical axis margins
   */

.m-v-xs {
  margin: var(--size-xs) 0; /* 8px */
}

.m-v-sm {
  margin: var(--size-sm) 0; /* 16px */
}

.m-v-md {
  margin: var(--size-md) 0; /* 24px */
}

.m-v-lg {
  margin: var(--size-lg) 0; /* 32px */
}
