.page {
   /* Top margin for pages to make space for main menu */
  padding-top: calc(var(--size-4xl) + var(--size-sm));
  padding-bottom: var(--size-4xl);
}

.page.public-page {
  background: url("/register-bg.webp") center/cover fixed no-repeat;
}

.page .matte-glass-container {
  position: relative;
  border: none;
  border-radius: var(--size-lg) var(--size-lg) var(--size-lg) var(--size-xs);
  padding: var(--size-lg) var(--size-lg) var(--size-md) var(--size-lg);
  width: 90%;
  background: linear-gradient(
    135deg,
    rgba(129, 38, 177, 0.25) 60%,
    rgba(255, 255, 255, 0.15) 100%
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  backdrop-filter: blur(80px);
  margin: var(--size-lg) auto 0 auto;
  border-right: 6px solid #b135f4;
  border-bottom: 6px solid #b135f4;
}